{% extends 'motifapp/base_article_read.html' %}
{% load motifapp_extra %}


{% block body %}
<!-- Article Content -->
<div class="row">
    <div id="article-wrapper" class="col-md-12">
        <div class="row">
            <!--article body with margin setup-->
            <div class="article-main-margin col-lg-2"></div>
            <div class="article-main col-lg-8 col-md-12" id="article-main">
                <div class="article-header">
                    <div class="article-title" id="article-title">
                        <h1 class="article-title">{{ article.title }} </h1>
                    </div>
                    <div class="row source-description">
                        <div class="col-sm-12 col-md-6">
                            <p>
                            {% if article.author is not None %}
                            by {{ article.author }} &nbsp&nbsp&nbsp&nbsp
                                {% endif %}
                            {% if article.pub_date is not None %}
                            {{ article.pub_date|date:"M j, y " }}
                            {% endif %}
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <p>Source: <a href="{{ article.web_url }}" target="_blank">
                                {{ article.domain}}
                            </a>
                            <div class="btn-group mr-2 hidden-sm-up" role="group" aria-label="First group">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-moon-o" aria-hidden="true"></i><span class="hidden-sm-down">Theme(WIP)</span></button>
                                <button type="button" id="font-minus" class="font-minus btn btn-secondary" style="font-size: 0.8rem">A-</button>
                                <button type="button" id="font-plus" class="font-plus btn btn-secondary">A+</button>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="article-content"
                     style="font-size: {{request.user.socialprofile.theme_font_size}}rem;">
                    {{ article.body_content|safe }}
                </div>
                <div class="article-footer"
                     style="padding: 20px; witdh: 100%; margin-top: 30px">
                    <p style="border-top: 1px solid black;"><i>Insert a paragraph here that says whatever necessary to avoid any copyright and legal issues</i></p>
                </div>
            </div>
            <div class="article-main-margin col-lg-2"></div>
            <!--article body with margin setup end -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="col-md-5">
    <!--<div id="sidebar-wrapper">-->
        {% include "motifapp/article_read_sidebar.html" %}
    </div>
    <!-- /#sidebar-wrapper -->


    <!--<footer class="hidden-md-up">-->
        <!--<div class="container">-->
        <!--</div>-->
    <!--</footer>-->


</div>
{% include 'motifapp/star_rating_template.html' %}
{% endblock %}

