{% extends 'motifapp/base.html' %}
{% load staticfiles %}
{% block idea_of_motif %}active{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron" style="padding: 2rem 3rem; ">
        <h1 class="display-4">Hello World! - Motif v1.0 Beta</h1>
        <p class="lead">Long list of ideas to execute, functions to add, bugs to fix. But here it is, v1.0, please help me testing the idea and the site. Thanks & Enjoy! - Will</p>
        <hr class="my-4">
        <p class="lead">
        </p>
    </div>
</div>



{% endblock %}