{% extends 'motifapp/base.html' %}

{% block body %}
<div class="container-fluid">
    {% for article in user_saved_article %}
    <div class="col-6 col-lg-4">
        <h3>{{ article.title }}</h3>
        <p> {{ article.body_content|truncatewords:20|safe }}</p>
        <p> added on:{{ article.storage__add_date}} </p>
        <p><a class="btn btn-secondary" href="{% url 'motifapp:article_read' article.id %}"
              role="button">View details &raquo;</a></p>
    </div><!--/span-->
    {% endfor %}
</div>
{% endblock %}

