{% extends 'motifapp/base.html' %}
{% block body %}

<div class="container">

    <form class="form-signin" role="form" action="{% url 'motifapp:login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign in</h2>

        <!--error message -->
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <label for="id_username" class="sr-only">Username</label>
        <input type="text" id="id_username" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="id_password" class="form-control" placeholder="Password" name="password"  required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div class="panel-footer">
            <p>New? <a href="{% url 'motifapp:register' %}">Click here</a> to register</p>
        </div>
        <button class="btn btn-lg btn-motif-1 btn-block" type="submit">Sign in</button>
    </form>
</div>

{% endblock %}