{% load motifapp_extra %}


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 3px 15px 3px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="creative-star-rating">
                    <form role="form" method="post"
                          action="{% url 'motifapp:rating_edit' article.id %}"
                          enctype="multipart/form-data">{% csrf_token %}
                        <div class="row">
                            <div class="col-10">
                                {% for i in "xxxxxxxxxx" %}
                                <input class="star creative-star-{{ 11|sub:forloop.counter }}"
                                       id="creative-star-{{ 11|sub:forloop.counter }}" type="radio"
                                       value={{ 11|sub:forloop.counter }} name="creative-star"/>
                                <label class="star creative-star-{{ 11|sub:forloop.counter }}"
                                       for="creative-star-{{ 11|sub:forloop.counter }}"></label>
                                {% endfor %}
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary" style="margin-top:8px">
                                    rate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<div class="modal-footer">-->
            <!--</div>-->
        </div>
    </div>
</div>


