{% extends 'motifapp/base.html' %}

{% block body %}
<div class="container">
    <div class="article-header col-md-8">
        <h1 class="article-title">{{ article.title }} </h1>
        <p class="source-description">
            From: {{ article.domain }}
        </p>
    </div>

    <div class="row">
        <div class="col-md-8 article-main">
            <div class="article-content">
                {{ article.body_content|safe }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="well">
                    <form role="form" method="post"
                          action="{% url 'motifapp:summary_edit' article.id %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="col-md-12">
                            <textarea class="form-control col-md-4" {% if not summary %} placeholder="Summarize here"{% endif %}  rows="10" id="summary" name="summary"
                                      type="text">{% if summary %}{{ summary }}{% else %}{% endif %}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">      Save </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
