{% extends 'motifapp/base.html' %}
<!--{% load staticfiles %}-->
{% load motifapp_extra %}
{% block user_view %}active{% endblock %}

{% block body %}

<div class="container-fluid">
    <!--seartch tool-->
    <div class="search-tool"></div>
    {% include "motifapp/user_view_profile.html" %}

    <div class="row">
        <!-- article card starts here -->
        <div class="card-deck">
            {% for article in user_saved_article %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" style="padding: 0px 10px 0;">
                <div class="card">
                    <!-- article card image -->
                    <a href="{% url 'motifapp:article_read' article.id %}" class="article-thumb-link index-view-card">
                        {% if article.storage__summary %}
                            &nbsp
                        {% elif article.lead_image_url %}
                            <div class="lead-image">
                                <img class="card-img-top img-fluid" src="{{ article.lead_image_url }}">
                            </div>
                        {% endif %}


                        {% if article.storage__rating_c%}
                        <div class="article-thumb-corner-info">
                            <div class="row">
                                <div class="article-thumb-corner-user">
                                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                    {{article.storage__rating_c }}<span class="rating-note">/5 you</span>
                                </div>
                                <div class="article-thumb-corner-overall">
                                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{ ratings|find_avg_c:article.id }}<span class="rating-note">/5&nbsp&nbsp&nbsp&nbsp<i class="fa fa-user-o" aria-hidden="true"></i>{{ ratings|find_number_of_rating:article.id }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <!--article card info -->
                        <div class="card-block">
                            <h4 class="card-title">{{ article.title|truncatewords:13  }}</h4>
                            <small class="text-muted">{{ article.word_count|divide:200}} mins read |
                                {{ article.domain|domain_shorten }} |
                                {{article.storage__add_date|date:"M j, y "}}
                            </small>
                            {% if not article.lead_image_url %}
                            <p>{{ article.body_content|truncatewords_html:60|safe }}</p>
                            {% endif %}
                            {% if article.storage__summary %}
                            <p style="margin-top: 10px;"><span class="user-view-summary">&nbsp sum &nbsp</span>&nbsp{{ article.storage__summary|truncatewords:70 }}</p>
                            {% endif %}
                        </div>
                    </a>
                    <div class="card-footer index">
                        <div class="row">
                            <div class="col-8">
                                {% if article.storage__summary_modified_date is not None %}
                                <i class="fa fa-pencil " aria-hidden="true"></i>
                                {{ article.storage__summary_modified_date|naturaltime}}
                                {% else %}
                                &nbsp
                                {% endif %}
                            </div>
                            {% if is_login_user %}
                            <div class="col-2 privacy-setting">
                                {% if article.storage__public is True%}
                                <a href="{% url 'motifapp:article_public_edit' article.id %}" class="article-public-edit public-edit-{{article.id}}">
                                    <i class="fa fa-eye" aria-hidden="true"></i></a>
                                {% else %}
                                <a href="{% url 'motifapp:article_public_edit' article.id %}" class="article-public-edit public-edit-{{article.id}}"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-2">
                                <a href="{% url 'motifapp:article_delete' article.id %}" id="article-thumb-delete">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}