{% extends 'motifapp/base.html' %}
{% load staticfiles %}
{% load motifapp_extra %}

{% block body %}
    <div class="container">
        {% include "motifapp/user_view_profile.html" %}

        <div class="row">
            <div class="col-2" style="border-right: 2px solid lightgray;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item {% if current == 'profile' %}active{% endif %}">
                        <a href="{% url 'motifapp:user_profile' user  %}" class="nav-link"> Profile</a>
                    </li>
                    <li class="nav-item {% if current == 'activity' %}active{% endif %}">
                        <a href="{% url 'motifapp:user_activity' user  %}" class="nav-link"> Activity </a>
                    </li>
                    <li class="nav-item {% if current == 'following' %}active{% endif %}">
                        <a href="{% url 'motifapp:user_following' user  %}" class="nav-link"> Followings </a>
                    </li>
                    <li class="nav-item {% if current == 'follower' %}active{% endif %}">
                        <a href="{% url 'motifapp:user_follower' user %}" class="nav-link"> Followers </a>
                    </li>
                </ul>
            </div>

            <div class="col-10" style="padding-left: 50px;">
                <h4> {{ current|upper }}</h4>
                {% if current == 'profile' %}
                    {% include "motifapp/user_profile_profile.html" %}
                {% elif current == 'activity' %}
                    {% include "motifapp/user_profile_activity.html" %}
                {% elif current == 'following' %}
                    {% include "motifapp/user_profile_activity.html" %}
                {% elif current == 'follower' %}
                    {% include "motifapp/user_profile_activity.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


<form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'motifapp/form_template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
