/* ====== general stuff ====== */
.card {
    display:inline-block;
}

/*this take care of the white bar on the right phone browser*/
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

:root {
    --main-theme-color-1: #4DBFC6;
    --main-theme-color-2: #1f3076;
    --main-theme-color-3: #f5f5f5;
}

/* ====== col font size ====== */

@media(min-width: 990px){
    .lead-image{height:220px;}
    .index-view-card{height:400px;}

}

/* overall button color */
.btn-motif-1 {
    color: #fff;
    background-color: var(--main-theme-color-1);
    border-color: var(--main-theme-color-1);
}

.btn-motif-2 {
    color: #fff;
    background-color: var(--main-theme-color-2);
    border-color: var(--main-theme-color-2);
}

/*feedback button*/
#leave-feedback-form-button {
    z-index: 1200;
    position: fixed;
    bottom: -8px;
    right: 30px;
    opacity: 0.5;
}

#leave-feedback-form-button:hover {
    bottom: -3px;
}

/*header nav width*/
body {
    padding-top: 70px;
    background-color: #f5f5f5;
}


.navbar-custom {
    height: 3rem;
    padding: 0rem 0.5rem 0rem 0rem;
    font-size: 1rem;
}

.nav-pills {
    height: 100%;
}

li.active {
    background: var(--main-theme-color-1);
    /*border-bottom: 3px solid var(--main-theme-color-1);*/
    color: white;
}

li a{
    color: var(--main-theme-color-2);
}

.nav-link{
    padding-top: 10px;
}

li.nav-item.active a{
    color: white;
    /*color: var(--main-theme-color-1);*/
}

li.nav-item.active .fa-lightbulb-o{
    color: yellow;
    /*color: var(--main-theme-color-1);*/
}

li.nav-item a:hover{
    color: var(--main-theme-color-1);
}

li.nav-item.active a:hover{
    color: white;
}



/* top-navbar */
img.navbar-portrait {
    position: relative;
    height: 25px;
    width: 25px;
    overflow: hidden;
}

img.summary-portrait {
    width: 35px;
    height: 35px;
    position: relative;
    overflow: hidden;
}



/* use this to change the padding between homepage article thumbnail */
.col-md-3 {
    padding-right: 0px;
    padding-left: 0px;
}

/* ====== start of index.html ======*/
/* thumbnail style*/
.card {
    margin-bottom: 20px;
}

.user-view-summary {
    color: white;
    background: var(--main-theme-color-1);
}


.lead-image {
    width: 100%;
    max_height: 160px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-and-rating {
    height: 115px;
}

/* thumb minor details */
.article-thumb-link, .article-thumb-link:hover {
    text-decoration: none;
    color: black;
}

.summary-date span {
    /*position: absolute;*/
    margin-left: -22px;
    color: white;
    background-color: var(--main-theme-color-1);
    padding: 3px 5px 2px;
}
/* end of thumbnail style */

/* start of homepage hover effect */
.hovereffect {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 20px);
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.hovereffect:hover .overlay {
    opacity: 1;
}

.hover-text {
    color: white;
    font-size: 15px;
    padding: 18px 15px 10px;
    top: 30%;
    left: 20%;
}

.hover-link, .hover-link a {
    color: white;
    text-align: center;
}
/* end of home page hover effect */
/* end of index.html */


/* ====== start of article_read.html ======*/
.navbar-article-read, .navbar-custom {
    border-bottom: solid 1px var(--main-theme-color-1);
}




.article-body-content img{
    width: 100%;
}

.article-wrapper {
    margin: auto;
    /*width: 90%;*/
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}


.toggle-button {
    /*transform: rotate(270deg);*/
    transform-origin: left top 0;
    z-index: 1;
    position: absolute;
    font-size: 2rem;
    color: white;
    left: -60px;
    top: 70px;
    padding: 0 0px 0px;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.125);
}

.article-title {
    font-weight: bold;
}

.article-content {
    /*font-size:1.4rem;*/
}

img.article-inline-image{
    width: 90%;
    vertical-align: middle;
    padding-bottom: 20px;
    padding-left:7%;
}

.article-read-user-info {
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    padding-left: 50px;
}

.source-description {
    padding-bottom: 20px;
}


.sidebar-nav-fixed {
    width: 27%;
}

.user-rating, .overall-rating {
    font-size: x-large;
    text-align: center;
}

.rating-explain {
    font-size: small;
    text-align: center;
}

.time-cost {
    text-align: center;
    height: 3rem;
    border-bottom: black;
}

.card-footer.index{
    padding: 0.4rem 1.25rem;
    border: none;
}


.card-footer.time-cost {
    border: none;
}

.rating {
    padding-top: 30px;
    padding-bottom: 15px;
}

.user-summary {
    border: 2px slategray;
}

.user-summary-edit-date {
    height: 1.5rem;
}




/* leaving summary sidebar Toggle Styles */
/*#wrapper {*/
    /*padding-left: 0;*/
    /*-webkit-transition: all 0.2s ease;*/
    /*-moz-transition: all 0.2s ease;*/
    /*-o-transition: all 0.2s ease;*/
    /*transition: all 0.2s ease;*/
/*}*/

/*#wrapper.toggled {*/
    /*padding-right: 500px;*/
/*}*/

/*#sidebar-wrapper {*/
    /*z-index: 2;*/
    /*!* fix position is crucial here*!*/
    /*position: fixed;*/
    /*right: 0px;*/
    /*width: 0;*/
    /*height: 100%;*/
    /*margin-left: -500px;*/
    /*!*overflow-y: auto;*!*/
    /*!*background:;*!*/
    /*-webkit-transition: all 0.2s ease;*/
    /*-moz-transition: all 0.2s ease;*/
    /*-o-transition: all 0.2s ease;*/
    /*transition: all 0.2s ease;*/
/*}*/


/*#wrapper.toggled #sidebar-wrapper {*/
    /*width: 500px;*/
/*}*/

/*#page-content-wrapper {*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*padding: 15px;*/
/*}*/

/*#wrapper.toggled #page-content-wrapper {*/
    /*position: absolute;*/
    /*margin-left: -500px;*/
/*}*/

/*!* Sidebar Styles *!*/
/*.sidebar-nav {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 500px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
/*}*/

/*.sidebar-nav li {*/
    /*text-indent: 20px;*/
    /*line-height: 40px;*/
/*}*/

/*.sidebar-nav li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*color: #999999;*/
/*}*/

/*.sidebar-nav li a:hover {*/
    /*text-decoration: none;*/
    /*color: #fff;*/
    /*background: rgba(255, 255, 255, 0.2);*/
/*}*/

/*.sidebar-nav li a:active,*/
/*.sidebar-nav li a:focus {*/
    /*text-decoration: none;*/
/*}*/

/*.sidebar-nav > .sidebar-brand {*/
    /*height: 65px;*/
    /*font-size: 18px;*/
    /*line-height: 60px;*/
/*}*/

/*.sidebar-nav > .sidebar-brand a {*/
    /*color: #999999;*/
/*}*/

/*.sidebar-nav > .sidebar-brand a:hover {*/
    /*color: #fff;*/
    /*background: none;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*#wrapper {*/
        /*padding-right: 500px;*/
    /*}*/

    /*#wrapper.toggled {*/
        /*padding-right: 0;*/
    /*}*/

    /*#sidebar-wrapper {*/
        /*width: 500px;*/
    /*}*/

    /*#wrapper.toggled #sidebar-wrapper {*/
        /*width: 0;*/
    /*}*/

    /*#page-content-wrapper {*/
        /*position: relative;*/
    /*}*/

    /*#wrapper.toggled #page-content-wrapper {*/
        /*position: relative;*/
        /*margin-left: 0;*/
    /*}*/
/*}*/
/* end of article_read summary and rating sidebar style*/



/*#sidebar-wrapper {*/
    /*z-index: 2;*/
    /*!*position: absolute;*!*/
    /*!*top: 0;*!*/
    /*!*bottom: 0;*!*/
    /*!*right: 0;*!*/
    /*overflow-y: scroll;*/
    /*height: 100%;*/
    /*!*overflow-y: auto;*!*/
    /*!*background:;*!*/
    /*-webkit-transition: all 0.2s ease;*/
    /*-moz-transition: all 0.2s ease;*/
    /*-o-transition: all 0.2s ease;*/
    /*transition: all 0.2s ease;*/
/*}*/


#sidebar-wrapper {
    position:fixed;
    right:0;
    width: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*#article-wrapper {*/
    /*position: fixed;*/
/*}*/





/* star rating css starts */
div.stars {
    width: 150px;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 5px;
    font-size: 30px;
    color: #7a7a7a;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-360deg) scale(1.1);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
/* star rating end */

/* individual article */
/*.article-content img {*/
    /*width: 100%;*/
    /*padding-bottom: 20px;*/
/*}*/
/* end of individual article*/
/* end of article-read.html */

/* ====== start of user_profile.html ======*/
.user-portrait-lg {
    width: 100px;
    height: 100px;
}
/* end of user_profile.html */

/*====== Start of discover.html ======*/
.row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}



.card-detail {
    width: 100%;
    padding-bottom: 5px;
}

.discover-summary {
    border-top: 1px solid lightgrey;
    padding-top: 3px;
}

.discover-thumb-author-info {
    width: 100%;
}

.discover-user-and-date p {
    margin: 0;
    font-size: 0.75rem;
}

.discover-rating {
    text-align: center;
    font-size: 1.1rem;
    padding-top: 5px;
}

.article-thumb-corner-info {
    opacity: 0.9;
    z-index: 100;
    position: absolute;
    margin: auto;
    /*overflow: hidden;*/
    /*background: var(--main-theme-color-1);*/
    /*box-shadow: 1px 1px 1px lightgrey;*/
    font-size: 1.2rem;
    color: white;
    left: 20px;
    top: 5px;

}

.article-thumb-corner-user {
    background: var(--main-theme-color-1);
    font-size: 1.3rem;
    padding: 0px 5px 0px;
    margin-right: 4px;
    border-radius: 2px;
}

.article-thumb-corner-overall {
    background: var(--main-theme-color-2);
    font-size: 1.3rem;
    padding: 0px 5px 0px;
    margin-right: 4px;
    border-radius: 2px;
}

.rating-note {
    font-size: 0.7rem;
}



/* ====== start of login.html ====== */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* end of login.html*/


/* ===== user_profile.html ========== */
.profile-portrait {
    height: 120px;
    width: 120px;
}

.user_view_profile {
    padding: 1.5rem 2rem;
}

/* =========== final size adjustment ==========*/
@media(max-width: 990px){
    img.article-inline-image{
        padding-left: 0;
        width: 100%;
    }
    .article-body-content{padding:0 5% 0;}
    .article-header{padding:0 3% 0;}
    .user_view_profile{padding: 1rem 1rem;}
    .user_view_profile h5{font-size: 0.9rem;}

}